.search-Container{
    background-color: transparent;
    width: 100%;
    display: flex;
}
.search-filter{
    display: flex;
    margin-top: 70px;
    padding: 5px;
    width: 100%;
}
.filter-icon{
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}
.filters{
    background-color: #d9d9d9;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 18px;
}
.Search-results{
    margin: 10px;
    padding: 10px;
    width: 100%;
    display: flex;
}
.car-results{
    width: 45%;
    height: auto;
}
.map-results{
    width: 55%;
    margin: 10px;
    z-index: 1;
}
.separater{
    background-color: gray;
    height: 2px;
    width: 98%;
    margin: 0 auto;
}
@media(max-width: 800px){
    .filter-icon{
        padding: 5px;
        margin: 5px;
    }
    .filters{
        padding: 5px;
        margin: 5px;
        font-size: 16px;
    }
    .car-results{
        width: 60%;
    }
    .map-results{
        width: 40%;
    }
}