.headercontainer {
    background-color: white;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
}

ul {
    list-style: none;
    margin: 1px;
}

ul li {
    display: inline-block;
    justify-content: space-between;
    margin: 0 8px;
}

.header-button {
    margin-left: 55%;
}

.logo a {
    font-size: 50px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.header-icon {
    font-size: 32px; 
    cursor: pointer;
    color: black; 
}

.Profile-avatar {
    width: 40px;
    height: 40px;
    margin: 0px;
    border-radius: 50%;
    cursor: pointer;
}

.bookingHeader {
    background-color: white;
    padding: 5px;
    display: flex;
    gap: 5px;
} 

.bookingHeader input {
    color: black;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    background-color: transparent;
    width: 100px;
}

.bookingHeader input[type="text"] {
    transition: width 0.3s ease;
}

.bookingHeader input[type="date"]:focus,
.bookingHeader input[type="time"]:focus,
.bookingHeader input[type="search"]:focus{
    width: 150px; 
}


#Booking-search {
    background-color: transparent;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

/* Responsiveness for home page */
@media (max-width: 800px) {
    .booking-label{
        display: none;
    }
    
    .bookingHeader input[type="text"],
    .bookingHeader input[type="date"],
    .bookingHeader input[type="time"],
    .bookingHeader input[type="search"]{
       display: none;
}
    
    #Booking-search {
        display: none;
    }
    
}