.Card-container{
    display: flex;
    background-color: #d9d9d9;
    margin-bottom: 10px;
    border-radius: 10px;
}
.car-info{
    margin: 10px 0 0 10px;
}
.car-img{
    width: 40%;
    margin: 10px;
    border-radius: 10px;
}
.car-name{
    display: flex;
    padding: 3px;
    font-size: 22px;
    justify-content: space-between;    
}
.car-rating{
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    margin-top: 10px;
    padding: 3px;
}
.car-star{
    font-size: 16px;
}
.car-trip{
    font-size: 18px;
}
.car-location p{
    font-size: 16px;
    width: auto;
    margin-top: 10px;
    padding: 3px;
}
.car-price{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
    width: auto;
    margin: 0 0 0 200px;
}
@media(max-width: 800px){
    .car-info{
        margin: 5px 0 0 5px;
    }
    .car-img{
        width: 50%;
    }
    .car-name{
        padding: 2px;
        font-size: 14px;
        overflow: hidden;
        white-space: wrap;      
    }
    .car-rating{
        font-size: 12px;
        margin-top: 0;
        padding: 2px;
    }
    .car-star{
        display: none;
    }
    .car-trip{
        font-size: 16px;
    }
    .car-location p{
        font-size: 14px;
        margin-top: 0;
        padding: 2px;
    }
    .car-price{
        font-size: 14px;
        padding: 2px;
        margin: 0 0 0 40px;
    }
}