.car-info-page{
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}
.car-pics {
    display: flex;
    padding: 5px; /* Reduce padding for cleaner look */
    margin-top: 70px;
    justify-content: center;
    gap: 10px;
}

.main-pic-section {
    width: 50%;
}

.Main-pic {
    width: 100%; /* Make the image fill the entire section */
    border: 1px solid #d9d9d9;
    border-radius: 10px 0 0 10px;
}

.more-pics {
    width: 25%; /* Adjust width for thumbnail section */
    display: flex;
    flex-direction: column; /* Arrange thumbnails vertically */
}
.sub-pics {
    width: 96%; /* Make thumbnails fill the entire width */
    border: 1px solid #d9d9d9;
    margin: 5px 0; /* Adjust margin between thumbnails */
    border-radius: 0 10px 10px 0;
}
.car-info-section{
    display: flex;
}
.car-profile{
    width: 70%;
    margin: 10px;
}
.car-pricing{
    background-color: #d9d9d9;
    border-radius: 10px;
    width: 30%;
    margin: 10px;
}
.car-model{
    font-size: 40px;
    margin: 10px;
}
.key-features{
    display: flex;
    margin: 15px;
    gap: 50px;
}
.feature{
    font-size: 16px;
}
.icons{
    font-size: 24px;
}
.host-profile{
    display: flex;
    gap: 200px;
}
.host{
    display: flex;
    padding: 10px;
    gap: 5px;
}
.profile-pic{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 15px;
}
.host-name{
    margin: 25px 0 0 0;
}
.ownership p{
    font-size: 22px;
    font-weight: bold;
    margin: 40px 0 0 0;
}
.description-heading{
    font-size: 22px;
    font-weight: bold;
    margin: 20px;
}
.car-description{
    margin: 20px;
    width: 90%;
}
.more-features{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 20px;
    margin: 20px;
}
.conditions{
    margin: 20px;
}
.total-price{
    padding: 10px;
    text-align: center;
    margin: 20px;
}
.price{
    font-size: 32px;
    font-weight: bold;
}
.booked-days{
    font-size: 18px;
    font-weight: bold;
    color: gray;
}
.booking-button{
    background-color: #ffd700;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 50px;
    border: 0px;
    border-radius: 10px;
}
.from-to-date{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 40px;
}
.date-time-input{
    margin: 10px;
}
.book-date-time{
    font-size: 16px;
    background-color: transparent;
    padding: 2px;
    border: 0px;
    margin: 2px 30px;
}
.booking-location{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 40px;
}
.booked-location{
    font-size: 16px;
    background-color: transparent;
    padding: 2px;
    border: 0px;
    margin: 0px 40px;
}
.inquires-section{
    padding: 10px;
    text-align: center;
    margin: 20px;
}
.inquires-button{
    background-color: #ffd700;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 50px;
    border: 0px;
    border-radius: 10px;
}