.review-card{
    padding: 10px;
    margin: 10px; 
    border-radius: 10px;
    width: 50%; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: white;
    display: flex;
}
.review-image{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.review-content{
    text-align: center;
}
.review-name{
    font-size: 18px;
}
.profle-type{
    font-size: 14px;
}
.review-message{
    font-size: 14px;
    padding: 5px;
    word-wrap: break-word; /* Breaks long words if necessary */
    word-break: break-word; /* Ensures words will break to a new line */
    white-space: normal; /* Allows the text to wrap to a new line */
    overflow: hidden; /* Hides any overflow content */
    text-overflow: ellipsis;
}
@media( max-width : 800px){
    .review-card{
        width: 100%; 
        padding: 5px;
        margin: 5px; 
    }
    .review-content{
        width: 150px;
    }
    .review-image{
        width: 75px;
        height: 75px;
    }
    .review-name{
        font-size: 16px;
    }
    .profle-type{
        font-size: 12px;
    }
    .review-message{
        font-size: 14px;
    } 
}