*{
    text-decoration: none;
    font-family: 'roboto';
    margin: 0px;
}
.content-heading {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    padding-top: 15px;
}

.content-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.content-text {
    flex: 1;
}

.content-image {
    flex: 1;
}

.content-image img {
    width: 100%;
    height: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.content-subtext {
    background-color: transparent;
    padding: 0;
    margin: 10px;
    font-size: 30px;
    text-align: center;
}
.share-car-button {
    background-color: gold;
    border: none;
    border-radius: 50px;
    max-width: fit-content;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.share-car-button:hover {
    background-color: black;
    color: white;
    transition: 1ms;
}


/* How it works section */
.works-section {
    background-color: #f5f5f5;
}

.client-headings {
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

.how-we-work {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 30px;
    margin-top: -50px;
}

.hosts-list, .rider-list { /* Updated for consistent class name */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    padding: 15px;
    margin: 5px;
    background-color: white;
    border-radius: 20px;
    font-size: 18px;
    text-align: left;
    height: 35vh;
}

.works-content {
    display: none;
    margin: 0 auto;
    height: auto;
}

.works-content.active {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0px;
   
}

.fliits-options-buttons {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.fliits-work-buttons.active {
    border-bottom: 5px solid #FFD700;
}

.fliits-work-buttons {
    background-color: transparent;
    border: none;
    padding: 0 200px 0;
    margin: 5px;
}
.Review-section{
    background-color: #f5f5f5;
    width: 100%;
    justify-content: space-between;
    display: flex; 
    overflow-x: scroll;  
    white-space: nowrap;
}
.Review-Heading{
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}
.Review-section::-webkit-scrollbar {
    height: 5px;
}

.Review-section::-webkit-scrollbar-thumb {
    background-color: black; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners on the scrollbar thumb */
}

.Review-section::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Background of the scrollbar track */
}
/*Responsiveness for home page*/
@media (max-width: 800px){

    /* Responsiveness for the content section*/
    .content-section {
        flex-direction: column;
        align-items: center;
    }
    .content-heading{
        font-size: 25px;
        margin-top: 30px;
        padding-top: 10px;
    }
    .content-image,
    .content-text {
        flex: none;
        width: 100%;
        text-align: center;
    }
    .content-image img {
        max-width: 100%;
        height: auto;
    }
    .content-subtext{
        font-size: 25px;
    }

    /* Responsiveness for the how we work section*/
    .fliits-work-buttons{
        padding: 0 50px 0;
    }
    .fliits-options-buttons{
        margin: 5px;
    }
    .client-headings{
        font-size: 15px;
    }
    .how-we-work{
        flex-direction: column;
    }
    .hosts-list,
    .rider-list {
        flex: none;
        max-width: 100%;
        height: auto;
        font-size: 15px;
    }

    /*Responsiveness for book your style section*/
    .card-container{
        width: 50%; 
    }
    img{
        width: 100%;
        height: auto;
    }
    .label1{
        font-size: 14px;
    }

    /* Responsiveness for the review section
    .review-card{
        width: 100%;
        padding: 1px;
        margin: 3px;
    }
    .review-image  img{
        width: 70px;
        height: 70px;
    }
    .review-message{
        font-size: 13px;
        margin-top: -30px;
    }
    .reviewer-name{
        margin: 0 auto;
        padding: 5px;
    }
    .profile-name{
        font-size: 20px;
        margin-top: 3px;
    }
    .profile-type{
        font-size: 12px;
    }
    .review-ratings{
        text-align: center;
    }
    .rating-star{
        width: 7%;
        margin-top: -10px;
    } */
}
