.hero {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/hero.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0; /* Removed margin to eliminate white space at the top */
}

/* Booking section CSS */
.booking {
    background-color: rgba(239, 236, 236, 0.9);
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    gap: 1px;
    flex-wrap: wrap;
}

.booking label {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.booking input {
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 16px;
    background-color: transparent;
    width: 140px;
}

.booking input[type="text"] {
    transition: width 0.3s ease;
}

.booking input[type="date"]:focus,
.booking input[type="time"]:focus,
.booking input[type="search"]:focus {
    width: 150px; 
}

#search {
    background-color: #FFD700;
    color: black;
    font-weight: bold;
    width: 60px;
    height: 60px;
    font-size: 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.separator {
    display: inline-block;
    width: 2px;
    height: 60px;
    background-color: gray;
    margin: 0 5px;
}

/* Responsiveness for max-width 800px */
@media (max-width: 800px) {
    .booking {
        flex-direction: column;
        gap: 1px;
        padding: 20px;
    }
    
    .location, .dates, .time {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    
    .booking-titles {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .booking label {
        font-size: 18px;
        margin-left: 5px;
    }
    
    .booking input {
        width: 100%;
        max-width: 90px;
        font-size: 14px;
        padding: 5px;
        border-radius: 10px;
        margin-top: 5px;
    }

    /* Ensure text and icons resize correctly */
    .booking input[type="date"]:focus,
    .booking input[type="time"]:focus {
        width: 100%;
    }
    
    #search {
        width: 100%;
        height: 50px;
        font-size: 24px;
        margin-top: 10px;
    }

    .separator {
        width: 100%;
        height: 2px;
        background-color: gray;
        margin: 10px 0;
    }
}
